.container {
  overflow: hidden;
  padding: 0;
}

.mainpage {
  height: 100vh;
  width: 100vw;
}

.accordion {
  max-height: 45vh;
}

.accordionSummary {
  max-height: 15vh;
}

.descriptionspecific {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.chatbox {
  position: sticky;
  width: 100%;
  height: 7.5vh;
}

.chatbox input {
  height: 7vh;
  width: 60%;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
  display: inline;
}

.chatbox button {
  height: 7vh;
  width: 20%;
  border-radius: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.messagesbox {
  overflow-y: scroll;
  width: 100%;
  height: 77.5vh;
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
}
.voiceChat button {
  height: 7vh;
  border-radius: 0 0 0 20%;
  width: 10%;
  float: left;
}

.scroller * {
  overflow-anchor: none;
}

.scroller b {
  font-size: medium;
}

.scroller text {
  font-size: x-small;
}

.scroller span {
  font-size: small;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}

.topBar {
  width: 100%;
  display: flex;
}

.chatname {
  width: 80%;
}
