.container {
    display: flex;
    flex-flow: column;
    margin: 0px;
    height: 100vh;
  }

.mainpage {
    height: 100vh;
    width: 100vw;
    display: contents;
}

.accordion {
  min-height: 15vh;
  max-height: 45vh;
  flex: 0 1 auto;
}

.descriptionspecific {
  flex: 0 1 auto;
  justify-content: center;
}

.chatbox {
    height: 7.5vh;
    flex: 0 1 7.5vh;
  }

  .chatbox input {
    height: 7vh;
    width: 80%;
    border-radius: 20px;
  }
  
  .chatbox button {
    height: 7vh;
    width: 20%;
    border-radius: 20px;
  }

  .messagesbox {
    overflow-y: scroll;
    flex: 1 1 auto;
  }

  .scroller * {
    overflow-anchor: none;
  }
  
  .scroller b {
    font-size: medium;
  }
  
  .scroller text {
    font-size: x-small;
  }
  
  .scroller span {
    font-size: small;
  }
  
  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }